    body {
    background-color: rgb(223, 223, 253);
    color: black;
    margin: 0 auto;
    max-width: 50em;
  }
  
  .page-container {
    width: 80%;
    margin-top: 5rem;
    margin: auto;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    color: black;
    transition-property: color;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-property: font-size;
    font-family:  "Helvetica";
  }

  h1:hover {
    color: rgb(231, 146, 214);
    font-size: 3rem;
    
  }

  .links {
    font-size: 2rem;
  }

  li {
    margin-bottom: 2rem;
    font-family: "Helvetica";
    list-style: outside;
  }
