.page-container {
    width: 80%;
    margin-top: 5rem;
    margin: auto;
  }

body {
    background-color: rgb(223, 223, 253);
    font-family: "times new roman";
    color: black;
  }

  img {
    max-width: 100%;
    height: 10rem;
    padding-top: 1rem;
  }

  .bio { 
    align-content: center;
    font-size: large;
  }

  a {
    padding: 1rem;
  }